<div class="row justify-content-center m-0">
  <div class="col col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <div class="card card-container p-3">

      <form class="needs-validation"
            (ngSubmit)="onSubmit()"
            [formGroup]="profileForm.formGroup"
            novalidate >

        <tmc-input type="text" label="Username" placeholder="User name" formControlName="userName"></tmc-input>

        <tmc-input type="email" label="Email" placeholder="name@example.com" formControlName="email" disabled></tmc-input>

        <tmc-input type="text" label="Fullname" placeholder="Name" formControlName="fullname"></tmc-input>

        <div class="form-group">
          <tmc-button type='submit'
                      label="Save">
          </tmc-button>
        </div>
      </form>

    </div>
  </div>
</div>