<div class="row justify-content-center m-0">
  <div class="col col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <div class="card card-container p-3">

      <form class="needs-validation"
            (ngSubmit)="onSubmit()"
            [formGroup]="profileForm.formGroup"
            novalidate >
    
        <div class="form-floating mb-3">
          <input type="text"
                 class="form-control"
                 formControlName="userName"
                 placeholder="User name" />
          <label for="userName"
                 class="form-label">
            Username
          </label>
          <div class="invalid-feedback">
            Username is required!
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="email"
                 class="form-control"
                 formControlName="email"
                 placeholder="name@example.com"
                 disabled />
          <label for="email"
                 class="form-label">
            Email
          </label>
        </div>

        <div class="form-floating mb-3">
          <input type="text"
                 class="form-control"
                 formControlName="fullname"
                 placeholder="Name" />
          <label for="fullname"
                 class="form-label">
            Fullname
          </label>
          <div class="invalid-feedback">
            Fullname is required!
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Save
          </button>
        </div>
      </form>

    </div>
  </div>
</div>