<div class="row d-grid justify-content-end m-0 mt-1">
  <tmc-button design="success"
              label="Add new Company"
              iconName="plus-square"
              *ngIf="hasAccessRole([rolesEnum.admin])"
              (clicked)="openCreate()">
  </tmc-button>
</div>

<div class="row m-0 mt-1">
  <tmc-simple-table [columns]="columns" [data]="companies"></tmc-simple-table>
</div>

<ng-template #tableActionCellTemplate let-column="column" let-dataItem="dataItem">
  <div class="table-actions-container btn-group gap-2">
    <tmc-button design="warning"
                label="Edit"
                iconName="pencil-square"
                *ngIf="hasAccessRole([rolesEnum.admin])"
                (clicked)="openEdit(dataItem.id)">
    </tmc-button>

    <tmc-button design="warning"
                label="Manage Owners"
                iconName="people"
                *ngIf="hasAccessRole([rolesEnum.admin])"
                (clicked)="openManageOwners(dataItem.id)">
    </tmc-button>

    <tmc-button design="danger"
                label="Delete"
                iconName="trash"
                *ngIf="hasAccessRole([rolesEnum.admin])"
                (clicked)="delete(dataItem.id)">
    </tmc-button>
  </div>
</ng-template>