<div class="row justify-content-center m-0 mt-1">
  <div class="col col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-2">
    <div *ngIf="!hasActiveOrder">
      <div class="card card-container p-3 mt-3">

        <form class="needs-validation"
              (ngSubmit)="startNewOrder()"
              [formGroup]="newOrderForm.formGroup"
              novalidate >

          <tmc-input type="text" label="Restaurant Name" placeholder="Restaurant Name" formControlName="restaurantName"></tmc-input>

          <tmc-input type="text" label="Table Number" placeholder="Table Number" formControlName="tableNumber"></tmc-input>

          <div class="form-group">
            <tmc-button type='submit'
                        label="Start order">
            </tmc-button>
          </div>
        </form>

      </div>

      <div class="card card-container p-3 mt-3">

        <form class="needs-validation"
              (ngSubmit)="joinOrder()"
              [formGroup]="joinOrderForm.formGroup"
              novalidate >

          <tmc-input type="text" label="Order ID" placeholder="Order ID" formControlName="orderId"></tmc-input>

          <div class="form-group">
            <tmc-button type='submit'
                        label="Join order">
            </tmc-button>
          </div>
        </form>

      </div>
    </div>

    <div *ngIf="hasActiveOrder">
      <div class="card card-container p-3 mt-3">
        <div class="alert alert-success">
          You have active order with Order ID: {{ orderId }}.
        </div>
      </div>
      
    </div>
  </div>
</div>