<div class="modal-header">
  <h3>{{ isNew ? 'Create' : 'Edit'}} price options</h3>
</div>

<div class="modal-body">

  <form class="needs-validation"
        (ngSubmit)="onSubmit()"
        [formGroup]="priceForm.formGroup"
        novalidate >

    <tmc-input type="text" label="Option" placeholder="Option" formControlName="tpye"></tmc-input>
    
    <tmc-input type="text" label="Price" placeholder="Price" formControlName="price"></tmc-input>
  </form>

</div>

<div class="modal-footer">
  <tmc-button type='submit'
              label="Save"
              (clicked)="onSubmit()">
  </tmc-button>
</div>