<div class="row justify-content-center">
  <div class="col col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-2">
    <div class="card card-container p-3">

      <form class="needs-validation"
            (ngSubmit)="onSubmit()"
            [formGroup]="changePasswordForm.formGroup"
            novalidate >

        <div class="form-floating mb-3">
          <input type="password"
                 class="form-control"
                 formControlName="currentPassword"
                 placeholder="Current password" />
          <label for="currentPassword"
                 class="form-label">Current Password</label>
          <div class="invalid-feedback">
            Current Password is required!
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="password"
                 class="form-control"
                 formControlName="newPassword"
                 placeholder="New password" />
          <label for="newPassword"
                 class="form-label">New Password</label>
          <div class="invalid-feedback">
            New Password is required!
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Save
          </button>
        </div>
      </form>

    </div>
  </div>
</div>