<div class="col-md-12">
  <div class="card card-container">
    <form (ngSubmit)="onSubmit()"
          [formGroup]="changePasswordForm.formGroup"
          novalidate >
      <div class="form-group">
        <label class="form-label">Current Password</label>
        <input type="password"
               class="form-control"
               formControlName="currentPassword" />
        <div class="invalid-feedback">
          Current Password is required!
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">New Password</label>
        <input type="password"
               class="form-control"
               formControlName="newPassword" />
        <div class="invalid-feedback">
          New Password is required!
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Save
        </button>
      </div>
    </form>
  </div>
</div>