<div class="row m-0 mt-1">
  <tmc-simple-table [columns]="columns" [data]="orderedMenuItems"></tmc-simple-table>
</div>

<ng-template #tableActionCellTemplate let-column="column" let-dataItem="dataItem">
  <div class="table-actions-container btn-group gap-2">
    <select class="form-select" (change)="setStatus(dataItem.id, $event.target.value)">
      <option value="1">New</option>
      <option value="2">Taken</option>
      <option value="3">Served</option>
      <option value="4">Asked to be remove</option>
      <option value="5">Removed</option>
   </select>
  </div>
</ng-template>