<div class="row d-grid justify-content-end m-0 mt-1">
  <tmc-button design="success"
              label="Add new Restaurant"
              *ngIf="hasAccessRole([rolesEnum.admin])"
              (clicked)="openCreate()">
  </tmc-button>
</div>

<div class="row m-0 mt-1">
  <tmc-simple-table [columns]="columns" [data]="restaurants"></tmc-simple-table>
</div>

<ng-template #tableActionCellTemplate let-column="column" let-dataItem="dataItem">
  <div class="table-actions-container btn-group gap-2">
    <tmc-button design="warning"
                label="Edit"
                (clicked)="openEdit(dataItem.id)">
    </tmc-button>
    
    <tmc-button design="warning"
                label="Manage admins"
                (clicked)="openManageRestaurantAdmins(dataItem.id)">
    </tmc-button>

    <tmc-button design="warning"
        label="Manage workers"
        (clicked)="openManageRestaurantWorkers(dataItem.id)">
    </tmc-button>
  </div>
</ng-template>