<div class="row d-grid justify-content-end m-0 mt-1">
  <tmc-button design="success"
              label="Add new Restaurant"
              iconName="plus-square"
              *ngIf="hasAccessRole([rolesEnum.admin])"
              (clicked)="openCreate()">
  </tmc-button>
</div>

<div class="row m-0 mt-1">
  <tmc-simple-table [columns]="columns" [data]="restaurants"></tmc-simple-table>
</div>

<ng-template #tableActionCellTemplate let-column="column" let-dataItem="dataItem">
  <div class="table-actions-container btn-group gap-2">
    <tmc-button design="primary"
                label="Open orders"
                iconName="basket2"
                hideLabelOnSmall
                *ngIf="dataItem.canOpenOrders"
                (clicked)="openOrders(dataItem.id)">
    </tmc-button>

    <tmc-button design="info"
                label="Open menu"
                iconName="journal"
                hideLabelOnSmall
                (clicked)="openMenu(dataItem.id)">
    </tmc-button>

    <tmc-button design="warning"
                label="Edit"
                iconName="pencil-square"
                hideLabelOnSmall
                *ngIf="hasAccessRole([rolesEnum.admin])"
                (clicked)="openEdit(dataItem.id)">
    </tmc-button>
    
    <tmc-button design="warning"
                label="Manage managers"
                iconName="people"
                hideLabelOnSmall
                *ngIf="dataItem.canManageRestaurantAdmins"
                (clicked)="openManageRestaurantAdmins(dataItem.id)">
    </tmc-button>

    <tmc-button design="warning"
                label="Manage workers"
                iconName="people"
                hideLabelOnSmall
                *ngIf="dataItem.canManageRestaurantWorkers"
                (clicked)="openManageRestaurantWorkers(dataItem.id)">
    </tmc-button>

    <tmc-button design="danger"
                label="Delete"
                iconName="trash"
                hideLabelOnSmall
                *ngIf="hasAccessRole([rolesEnum.admin])"
                (clicked)="delete(dataItem.id)">
    </tmc-button>
  </div>
</ng-template>