<div class="row justify-content-center m-0 mt-1">
  <div class="col col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-2">
    <div class="card card-container p-3">

      <form class="needs-validation"
            (ngSubmit)="onSubmit()"
            [formGroup]="changePasswordForm.formGroup"
            novalidate >

        <tmc-input type="password" label="Current password" placeholder="Current password" formControlName="currentPassword"></tmc-input>

        <tmc-input type="password" label="New password" placeholder="New password" formControlName="newPassword"></tmc-input>

        <div class="form-group">
          <tmc-button type='submit'
                      label="Change password">
          </tmc-button>
        </div>
      </form>

    </div>
  </div>
</div>