<div class="row justify-content-center m-0">
  <div class="col col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-2">
    <div class="card card-container p-3">

      <form *ngIf="!isLoggedIn"
            class="needs-validation"
            (ngSubmit)="onSubmit()"
            [formGroup]="registerForm.formGroup"
            novalidate >

        <div class="form-floating mb-3">
          <input type="text"
                 class="form-control"
                 formControlName="username"
                 placeholder="User name" />
          <label for="username"
                 class="form-label">
            Username
          </label>
          <div class="invalid-feedback">
            Username is required!
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="email"
                 class="form-control"
                 formControlName="email"
                 placeholder="name@example.com" />
          <label for="email"
                 class="form-label">
            Email
          </label>
          <div class="invalid-feedback">
            Email is required!
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="password"
                 class="form-control"
                 formControlName="password"
                 placeholder="password"
                 aria-describedby="passwordHelpBlock" />
          <label for="password"
                 class="form-label">
            Password
          </label>
          <small id="passwordHelpInline" class="form-text">
            Password must be at least 6 characters
          </small>
          <div class="invalid-feedback">
            Password must be at least 6 characters
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Register
          </button>
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>

    </div>
  </div>
</div>