<div class="col col-12 mt-3">

  <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active"
              id="orders-tab"
              data-bs-toggle="tab"
              data-bs-target="#orders"
              type="button"
              role="tab"
              aria-controls="orders"
              aria-selected="true">
        Orders
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link"
              id="ordered-menu-items-tab"
              data-bs-toggle="tab"
              data-bs-target="#ordered-menu-items"
              type="button"
              role="tab"
              aria-controls="ordered-menu-items"
              aria-selected="false">
        Ordered menu items
      </button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active"
         id="orders"
         role="tabpanel"
         aria-labelledby="orders-tab">
      <board-order-management></board-order-management>
    </div>
    <div class="tab-pane fade"
         id="ordered-menu-items"
         role="tabpanel"
         aria-labelledby="ordered-menu-items-tab">
      <board-ordered-menu-items></board-ordered-menu-items>
    </div>
  </div>

</div>