<div class="form-floating mb-3">
  <textarea [style.height]="height"
            [(ngModel)]="value"
            [id]="id"
            [placeholder]="placeholder"
            [disabled]="disabled"
            (blur)="onBlur($event)"
            class="form-control {{ displayError && getErrorMessage() ? 'is-invalid' : '' }}">\
  </textarea>
  <label [for]="id"
         [hidden]="!label"
         class="form-label">
    {{ label }}
  </label>
  <div class="invalid-feedback"
       [class.d-none]="">
    {{ getErrorMessage() }}
  </div>
</div>